/*--------------------------------------------------------------
## All Color Variable
--------------------------------------------------------*/

:root{
    --white: #fff;
    --black: #000;
    --primary: #6C6C6C;
    --secondary: #0A0A10;
    --ternary: #936DFF;
    --accent: #00CC61;
    --lite-gray: #CACACA;
    
    --primary-font: "Outfit", sans-serif;
}