.cs_accordians {

    .cs_accordian {
        position: relative;
        background-color: var(--lite-gray);
        border-radius: 15px;
        margin-bottom: 24px;
     
    }
}



.cs_accordian_toggle {
    display: block;
    position: absolute;
    top: 22px;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 10px solid green;

}

.cs_accordian{
    border-bottom: 1px solid var(--lite-gray);

    &.active{

        .cs_accordian_toggle{
            transform: rotate(180deg);
        }
    }
}